/*CELULAR*/
@media (min-width: 480px){
    /*PARÁGRAFO*/
    p{
        width: 80vw; /*Largura de 80% da Tela*/
    }

    /*PARÁGRAFOS DOS CONTAINERS*/
    .container-light p, .container-dark p{
        width: 80vw; /*Largura de 80% da Tela*/
    }
}

/*TABLET*/
@media (min-width: 768px) {
    /*PARÁGRAFOS*/
    p{
        font-size: 1rem; /*Tamanho da Fonte de 100% do elemento raíz*/
    }

    /*TÍTULOS*/
    h1, form legend{
        font-size: 1.5rem; /*Tamanho da Fonte de 150% do elemento raíz*/
    }

    /*PARÁGRAFOS DOS CONTAINERS*/
    .container-light p, .container-dark p{
        width: 576px; /*Largura Máxima de 576px*/
    }
}

/*DESKTOP*/
@media (min-width: 1024px){
    header .header-container, .container{
        max-width: 1100px;
    }

    #fecharMenuMobile, #btnAbrirMobile{
        display: none;
    }

    header {
        height: 200px;
    }

    #menu{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    #menu ul{
        display: flex;
        flex-direction: row;
    }

    #menu ul li{
        margin: 0;
        border: none;
        width: max-content;
        margin-left: 24px;
    }

    #menu ul li a{
        font-size: 1.5rem;
    }

    #menu ul li a:hover{
        text-decoration: underline;
    }

    .container{
        padding: 96px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1{
        font-size: 3rem;
    }

    p{
        margin: 48px 0;
    }

    p, form label, .callToAction, #name, #email, #message{
        font-size: 1.5rem;
    }

    .callToAction{
        width: 240px;
        height: 48px;
    }

    .callToAction:hover{
        cursor: pointer;
        transform: scale(1.03);
        transition: 0.5s ease-out;
    }

    .card-1{
        height: 720px;
    }   

    img{
        margin-left: 48px;
        width: 244px;
        height: 244px;
    }

    form legend{
        margin: 96px 0;
        font-size: 3rem;
    }

    #name, #email{
        width: 916px;
        height: 40px;
        margin-bottom: 48px;
    }

    #message{
        width: 916px;
        height: 320px;
        margin-bottom: 48px;
    }

    #iconeComputador{
        width: 300px;
        height: 247px;
    }
}

@media (min-width: 1920px){
    header{
        height: 300px;
    }

    header .header-container, .container{
        max-width: 1616px;
    }

    img{
        width: 375px;
        height: 375px;
    }

    #menu ul li a, p, form label, .callToAction, #name, #email, #message{
        font-size: 2rem;
    }

    p{
        margin-bottom: 80px;
    }

    h1{
        margin-bottom: 80px;
    }

    h1, form legend{
        font-size: 4rem;
    }

    .card-1{
        height: 1080px;
    }

    .callToAction{
        border-radius: 8px;
        width: 320px;
        height: 64px;
    }

    .container-light p, .text-container p{
        width: 840px;
    }
}


@media(min-width: 2440px){
    header .header-container, .container{
        max-width: 1920px;
    }

    img{
        width: 480px;
        height: 480px;
    }

    .container-light p, .text-container p{
        width: 840px;
    }

    #iconeComputador{
        width: 480px;
        height: 396px;
    }

    .callToAction{
        width: 375px;
        height: 72px;
    }
}